{% extends 'main.html' %}
{% block title %} Update {% endblock %}



{% block content %}

<div class="card">
    <h2>Create a todo:</h2>
    <form action="" method="POST">
        {% csrf_token %}
    {{users.semester.label}}
    {{users.semester}}
    {{users.week.label}}
    {{users.week}}
    {{users.ToDo.label}}
    {{users.ToDo}}
    {{users.STATUS.label}}
    {{users.STATUS}}
<!-- <br>
<br> -->
    <button type="submit" class="btn btn-outline-success" style="margin-top: 20px; float: right;">Update todo</button>
</form>
</div>


{% endblock %}